.container {
    display: flex;
}

.child {
    flex: 1;
    /* min-width: 0 설정을 꼭 해줘야 하는데, 이유는 다음과같다.
    기본적으로 min-width 가 내부 content 를 감싸기 위해 auto 로 설정이 되기 때문에, 
    자동으로 크기가 줄어들지 않는다. 그래서 0으로 설정을 해줘야 줄어드는게 가능하다.
    결국 미디어쿼리를 처음부터 설계하면 좋았을것을... */
    min-width: 0;

}

img {
    /* 이미지 크기를 종횡비 유지하며 자동조정하고 싶다면, 하나를 지정해주고, 다른 하나를 auto 로 해주면 된다. */
    width: 100%;
    height: auto;
}